<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fruitpal.stefanzero.com</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.css">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico">
    <style>
        .fruitpal .card-title {
            padding: 0.5em 0.5em;
            margin-bottom: 0;
        }
        .my-links {
            padding: 0 0;
        }
        a {
            display: block;
            text-decoration: none;
            padding: 0.2em 0 0 0.5em;
        }
        a:hover {
            text-decoration: none;
        }
        a p {
            margin: 0 0;
        }
        a p:first-child {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="card fruitpal">
    <div class="card-header">
        <h2><a href="/home">fruitipal.stefanzero.com</a></h2>
    </div>
    <div class="card-body">
        <img class="card-img-top" src="/static/Venice_Vegetables.jpg" alt="Vegetable Market in Venice">
        <div>
            <h4 class="card-title border bg-light">Python Django REST-API Endpoints</h4>
            <ul class="list-group my-links">
                <li class="list-group-item  list-group-item-primary">
                    <a href="/api/v1/countries" target="_blank">
                        <p>/api/v1/countries</p>
                        <p>Display country codes and country names</p>
                    </a>
                </li>
                <li class="list-group-item  list-group-item-success">
                    <a href="/api/v1/commodities" target="_blank">
                        <p>/api/v1/commodities</p>
                        <p>Display current commodities</p>
                    </a>
                </li>
                <li class="list-group-item  list-group-item-warning">
                    <a href="/api/v1/commoditydata" target="_blank">
                        <p>/api/v1/commoditydata</p>
                        <p>Display current commodity data</p>
                    </a>
                </li>
                <li class="list-group-item  list-group-item-danger">
                    <a href="/api/v1/calculate/?COMMODITY=mango&TONS=405&PRICE=53" target="_blank">
                        <p>/api/v1/calculate/?COMMODITY=mango&TONS=405&PRICE=53</p>
                        <div>Calculate price breakdown for:
                            <ul>
                                <li>COMMODITY=mango</li>
                                <li>TONS=405</li>
                                <li>PRICE=53</li>
                            </ul>
                        </div>
                    </a>
                </li>
            </ul>
            <h4 class="card-title border bg-light">Documentation</h4>
            <ul class="list-group my-links">
                <li class="list-group-item  list-group-item-info">
                    <a href="/static/html/index.html" target="_blank">
                        <p>/static/html/index.html</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>